##encoding: utf-8
## 取得 user 與 title 等兩個變數資料
## 兩個 pound signs 在 Mako 語法中為註解行
## 多行註解則使用
<%doc>
    這是註解
    使用 <%! %> 表示在模組層次運作的 Python 程式碼, 可以用來 import 模組或定義相關的函式或物件
    請注意: 一旦 taskform.html 被引入 tasklist2.html 中, 表示與程式中方法的傳送僅只於 tasklist2 函式, 並且與 taskform2 方法完全無關 (特別注意)
</%doc>
<%
output = "<br /><br />使用者:"+user+"<br /><br />"
if id != 0:
    output += "以下將新增 id="+str(id)+" 的回應資料<br /><br />"
output += '''
<form method='post' action='/taskaction'>
tasktype:<input type='text' name='type'><br />
'''
if id != 0:
    # 取得與 id 對應的 task 標題, 做為子緒資料的 default 標題, 但使用者可以自行更改
    try:
        for task in data:
            if task.id == int(id):
                title = " Re: "+ task.name
        output += "taskname:"+str(title)+"<br />"
        output += "<input type='hidden' name='name' value='"+str(title)+"'>"
    except:
        return redirect("/")
else:
    output += "taskname:<input type='text' name='name'><br />"
output += '''
taskcontent:<textarea class='simply-editor' name='content' cols='50' rows='10'></textarea><br />
'''
output += "<input type='hidden' name='follow' value='"+str(id)+"'>"
output += '''<input type='submit' value='add'>
</form>
'''
%>
${output}

