##encoding: utf-8
## 取得 user 與 menu 等兩個變數資料
## 兩個 pound signs 在 Mako 語法中為註解行
## 多行註解則使用
<%doc>
    這是註解
    使用 <%! %> 表示在模組層次運作的 Python 程式碼, 可以用來 import 模組或定義相關的函式或物件
</%doc>
<%!
# 為了在雲端加入 google 廣告
# 雲端廣告要改成讓使用者設定在 config 檔案中
import os
%>

<html>
        <head>
                <title>Pygroup 群組資料管理</title>
<script type="text/javascript" src="/static/syntaxhighlighter/shCore.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/shBrushJScript.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/shBrushJava.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/shBrushPython.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/shBrushSql.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/shBrushXml.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/shBrushPhp.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/shBrushCpp.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/shBrushCss.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/shBrushPlain.js"></script>
<link type="text/css" rel="stylesheet" href="/static/syntaxhighlighter/css/shCoreDefault.css"/>
<script type="text/javascript">SyntaxHighlighter.all();</script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="/static/tinymce4/tinymce/plugins/sh4tinymce/plugin.min.js"></script>
<link rel = "stylesheet" href = "/static/tinymce4/tinymce/plugins/sh4tinymce/style/style.css">
<script>
tinymce.init({
  selector: "textarea",
  height: 500,
  element_format : "xhtml",
  language : "en",
  plugins: [
    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen',
    'insertdatetime media nonbreaking save table contextmenu directionality',
    'emoticons template paste textcolor colorpicker textpattern imagetools sh4tinymce'
  ],
  toolbar1: 'insertfile save undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent',
  toolbar2: 'link image | print preview media | forecolor backcolor emoticons | code sh4tinymce',
  relative_urls: false,
  toolbar_items_size: 'small',
  file_picker_callback: function(callback, value, meta) {
        cmsFilePicker(callback, value, meta);
    },
  templates: [
    { title: 'Test template 1', content: 'Test 1' },
    { title: 'Test template 2', content: 'Test 2' }
  ],
  content_css: [
    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
    '//www.tinymce.com/css/codepen.min.css'
  ]
});

function cmsFilePicker(callback, value, meta) {
    tinymce.activeEditor.windowManager.open({
        title: 'Uploaded File Browser',
        url: '/file_selector?type=' + meta.filetype,
        width: 800,
        height: 550,
    }, {
        oninsert: function (url, objVals) {
            callback(url, objVals);
        }
    });
};
</script>
</head><body>
<style type="text/css" media="all">
@import "/static/style/base.css";
</style>
<%include file="tasksearchform.html"/>
## 以下在承接 tasklist 方法的資料展示流程
<%! 
import math
import cgi
%>
<%
    # 在此定義一個 paginate 方法
    # paginate(data, int(page), int(item_per_page))
    def paginate(data=None, page=1, item_per_page=5):
        return data[(page-1)*item_per_page:(page*item_per_page)]
   
    myfollow = 1
    total_rows = data.count()
    if total_rows == 0:
        myfollow = 0
    outstring = "<a href='/'>Go to main page</a> (<a href='?desc=1'>最新在前</a>) (<a href='?flat=1'>flat</a> (<a href='?flat=1&desc=1'>flat 最新在前</a>))"
    # 假如 user 非 anonymou 則列出 logout 連結
    if user != "anonymous":
        outstring += " <a href='logout'>Logout</a> "
    if user == "anonymous":
        outstring += " <a href='login'>Login</a> "
    if user == "admin":
        outstring += " <a href='editconfigform'>Config</a> <a href='editadsenseform'>Adsense Config</a>"
    # 對管理者列出 site_closed: yes 的通知
        if site_closed == "yes":
            outstring += "<br /> 注意: 目前網站關閉中, 只有管理者可以登入!"
        else:
            outstring += "<br /> 注意: 目前網站對外開放!"
        if adsense == "yes":
            outstring += "<br /> 注意: 目前網站會列出 Adsense 廣告!"
        else:
            outstring += "<br /> 注意: 目前網站不會列出 Adsense 廣告!"
        if anonymous == "no":
            outstring += "<br /> 注意: 目前使用者必須登入才可檢視資料!"
        else:
            outstring += "<br /> 注意: 目前 anonymous 可檢視資料!"
        if read_only == "yes":
            outstring += "<br /> 注意: 目前網站只能 read only!"
        else:
            outstring += "<br /> 注意: 目前使用者可以新增刪除編輯!"
    outstring += "<br /><br />"
    # 若在雲端執行, 且不是管理者, 加上 Google 廣告
    if 'OPENSHIFT_REPO_DIR' in os.environ.keys() and user != "admin":
        outstring += adsense_content
    if keyword != None:
        myfollow = 0
        outstring += "查詢關鍵字:"+keyword+"<br /><br />"
    outstring += "全部資料共有 "+str(total_rows)+" 筆, "
    totalpage = math.ceil(total_rows/int(item_per_page))
    if totalpage > 0:
        starti = int(item_per_page) * (int(page) - 1) + 1
    else:
        starti = 0
    endi = starti + int(item_per_page) - 1
    if (int(page) * int(item_per_page)) < total_rows:
        outstring += "從第 "+str(starti)+" 筆到第 "+str(endi)+" 筆<br />"
    else:
        outstring += "從第 "+str(starti)+" 筆到第 "+str(total_rows)+" 筆<br />"
    notlast = False
    if total_rows > 0:
        outstring += "<br />"
        if (int(page) * int(item_per_page)) < total_rows:
            notlast = True
        if int(page) > 1:
            outstring += "<a href='"
            outstring += method+"&amp;page=1&amp;item_per_page="+str(item_per_page)
            outstring += "'><<</a> "
            page_num = int(page) - 1
            outstring += "<a href='"
            outstring += method+"&amp;page="+str(page_num)+"&amp;item_per_page="+str(item_per_page)
            outstring += "'>Previous</a> "
        span = 10
        for index in range(int(page)-span, int(page)+span):
            if index>= 0 and index< totalpage:
                page_now = index + 1 
                if page_now == int(page):
                    outstring += "<font size='+1' color='red'>"+str(page)+" </font>"
                else:
                    outstring += "<a href='"
                    outstring += method+"&amp;page="+str(page_now)+"&amp;item_per_page="+str(item_per_page)
                    outstring += "'>"+str(page_now)+"</a> "
        if notlast == True:
            nextpage = int(page) + 1
            outstring += " <a href='"
            outstring += method+"&amp;page="+str(nextpage)+"&amp;item_per_page="+str(item_per_page)
            outstring += "'>Next</a>"
            outstring += " <a href='"
            outstring += method+"&amp;page="+str(totalpage)+"&amp;item_per_page="+str(item_per_page)
            outstring += "'>>></a><br />"
        if (int(page) * int(item_per_page)) < total_rows:
            notlast = True
        else:
            outstring += "<br />"
        outstring += "<table border='1'>"
        # 加入表格標頭
        #  只有當列出主資料緒而且不在列印各別資料模式下, 才列印回應數欄位
        if flat == 0 and id == 0:
            heading = ["使用者", "標題", "類別",  "回應數", "時間", "功能"]
        else:
            heading = ["使用者", "標題", "類別",  "時間", "功能"]
        for j in range(len(heading)):
            outstring += "<th>"+heading[j]+"</th>"
        # 只有列出主資料緒可以就逐筆資料標題產生連結
        if id == 0:
            myfollow = 0
            if flat == 0:
                i = starti - 1
                for task in paginate(data, int(page), int(item_per_page)):
                    outstring +="<tr>"
                    ## admin 管理者可以編輯或刪除任何資料
                    if ((user == task.owner and user != "anonymous") and read_only != "yes") or (user == "admin") :
                        outstring += "<td style='vertical-align:top'>"+task.owner+"</td><td><a href='?id="+str(task.id)+"'>"+task.name+"</a></td><td>"+task.type+"</td><td>"+ \
                                    str(follow[i])+" 則回應</td><td>"+str(task.time)+"</td><td><a href='taskeditform?id="+str(task.id)+"'>edit</a> <a href='taskdeleteform?id="+str(task.id)+"'>delete</a></td>"
                    elif task.owner == "anonymous" or user == "anonymous":
                        outstring += "<td style='vertical-align:top'>"+task.owner+"</td><td><a href='?id="+str(task.id)+"'>"+task.name+"</a></td><td>"+task.type+"</td><td>"+ \
                                    str(follow[i])+" 則回應</td><td>"+str(task.time)+"</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>"
                    else:
                        ##評分功能尚未實現
                        outstring += "<td style='vertical-align:top'>"+task.owner+"</td><td><a href='?id="+str(task.id)+"'>"+task.name+"</a></td><td>"+task.type+"</td><td>"+ \
                                    str(follow[i])+" 則回應</td><td>"+str(task.time)+"</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>"
                    outstring += "</tr>"
                    i += 1
            else:
                ## admin 管理者可以編輯或刪除任何資料
                for task in paginate(data, int(page), int(item_per_page)):
                    outstring +="<tr>"
                    if ((user == task.owner and user != "anonymous")  and read_only != "yes") or (user == "admin"):
                        outstring += "<td style='vertical-align:top'>"+task.owner+"</td><td><a href='?id="+str(task.id)+"'>"+task.name+"</a></td><td>"+task.type+"</td><td>"+ \
                                    str(task.time)+"</td><td><a href='taskeditform?id="+str(task.id)+"'>edit</a> <a href='taskdeleteform?id="+str(task.id)+"'>delete</a></td>"
                    elif task.owner == "anonymous" or user == "anonymous":
                        outstring += "<td style='vertical-align:top'>"+task.owner+"</td><td><a href='?id="+str(task.id)+"'>"+task.name+"</a></td><td>"+task.type+"</td><td>"+ \
                                    str(task.time)+"</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>"
                    else:
                        ## 評分功能尚未實現
                        outstring += "<td style='vertical-align:top'>"+task.owner+"</td><td><a href='?id="+str(task.id)+"'>"+task.name+"</a></td><td>"+task.type+"</td><td>"+ \
                                    str(task.time)+"</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>"
                    outstring += "</tr>"
        else:
            # 若執行緒列印則不列標題連結
            # 這裡要考慮取得各子緒的最前頭的主緒資料所對應的 myfollow 值
            # 先前將 myfollow 設定放入 paginate 分頁迴圈, 只有第一頁資料 myfollow 正確
            i = 0
            for task in data:
                if i ==0:
                    myfollow = task.follow
                i += 1
            for task in paginate(data, int(page), int(item_per_page)):
                outstring +="<tr>"
                ## admin 管理者可以編輯或刪除任何資料
                if ((user == task.owner and user != "anonymous") and read_only != "yes") or (user == "admin"):
                    if task.follow != 0:
                        # 表示非主緒
                        outstring += "<td rowspan='2' style='vertical-align:top'>"+task.owner+"</td><td style='background-color: #cceeff;'><a href='?id="+str(task.id)+"'>id="+str(task.id)+"</a> (<a href='?id="+str(task.follow)+"'>up</a>) - "+task.name+"</td><td  style='background-color: #cceeff;'>"+task.type+"</td><td  style='background-color: #cceeff;'>"+ \
                                    str(task.time)+"</td><td  style='background-color: #cceeff;'><a href='taskeditform?id="+str(task.id)+"'>edit</a> <a href='taskdeleteform?id="+str(task.id)+"'>delete</a></td>"
                    else:
                        outstring += "<td rowspan='2' style='vertical-align:top'>"+task.owner+"</td><td style='background-color: #cceeff;'><a href='?id="+str(task.id)+"'>id="+str(task.id)+"</a> - "+task.name+"</td><td  style='background-color: #cceeff;'>"+task.type+"</td><td  style='background-color: #cceeff;'>"+ \
                                    str(task.time)+"</td><td  style='background-color: #cceeff;'><a href='taskeditform?id="+str(task.id)+"'>edit</a> <a href='taskdeleteform?id="+str(task.id)+"'>delete</a></td>"
                elif task.owner == "anonymous" or user == "anonymous":
                    if task.follow != 0:
                        # 表示非主緒
                        outstring += "<td rowspan='2' style='vertical-align:top'>"+task.owner+"</td><td  style='background-color: #cceeff;'><a href='?id="+str(task.id)+"'>id="+str(task.id)+"</a> (<a href='?id="+str(task.follow)+"'>up</a>) - "+task.name+"</td><td  style='background-color: #cceeff;'>"+task.type+"</td><td  style='background-color: #cceeff;'>"+ \
                                    str(task.time)+"</td><td  style='background-color: #cceeff;'>&nbsp;&nbsp;&nbsp;&nbsp;</td>"
                    else:
                        outstring += "<td rowspan='2' style='vertical-align:top'>"+task.owner+"</td><td  style='background-color: #cceeff;'><a href='?id="+str(task.id)+"'>id="+str(task.id)+"</a> - "+task.name+"</td><td  style='background-color: #cceeff;'>"+task.type+"</td><td  style='background-color: #cceeff;'>"+ \
                                    str(task.time)+"</td><td  style='background-color: #cceeff;'>&nbsp;&nbsp;&nbsp;&nbsp;</td>"
                else:
                    ## 評分功能尚未實現
                    if task.follow != 0:
                        outstring += "<td rowspan='2' style='vertical-align:top'>"+task.owner+"</td><td  style='background-color: #cceeff;'><a href='?id="+str(task.id)+"'>id="+str(task.id)+"</a> (<a href='?id="+str(task.follow)+"'>up</a>) - "+task.name+"</td><td  style='background-color: #cceeff;'>"+task.type+"</td><td  style='background-color: #cceeff;'>"+ \
                                    str(task.time)+"</td><td  style='background-color: #cceeff;'>&nbsp;&nbsp;&nbsp;&nbsp;</td>"
                    else:
                        outstring += "<td rowspan='2' style='vertical-align:top'>"+task.owner+"</td><td  style='background-color: #cceeff;'><a href='?id="+str(task.id)+"'>id="+str(task.id)+"</a> - "+task.name+"</td><td  style='background-color: #cceeff;'>"+task.type+"</td><td  style='background-color: #cceeff;'>"+ \
                                    str(task.time)+"</td><td  style='background-color: #cceeff;'>&nbsp;&nbsp;&nbsp;&nbsp;</td>"
                outstring += "</tr><tr><td colspan='4'>"+task.content+"</td></tr>"
        # 結束資料表格的列印
        outstring += "</table>"
        if int(page) > 1:
            outstring += "<a href='"
            outstring += method+"&amp;page=1&amp;item_per_page="+str(item_per_page)
            outstring += "'><<</a> "
            page_num = int(page) - 1
            outstring += "<a href='"
            outstring += method+"&amp;page="+str(page_num)+"&amp;item_per_page="+str(item_per_page)
            outstring += "'>Previous</a> "
        span = 10
        for index in range(int(page)-span, int(page)+span):
            if index >=0 and index < totalpage:
                page_now = index + 1
                if page_now == int(page):
                    outstring += "<font size='+1' color='red'>"+str(page)+" </font>"
                else:
                    outstring += "<a href='"
                    outstring += method+"&amp;page="+str(page_now)+"&amp;item_per_page="+str(item_per_page)
                    outstring += "'>"+str(page_now)+"</a> "
        if notlast == True:
            nextpage = int(page) + 1
            outstring += " <a href='"
            outstring += method+"&amp;page="+str(nextpage)+"&amp;item_per_page="+str(item_per_page)
            outstring += "'>Next</a>"
            outstring += " <a href='"
            outstring += method+"&amp;page="+str(totalpage)+"&amp;item_per_page="+str(item_per_page)
            outstring += "'>>></a>"
    else:
        outstring += "no data!"
    # 若在雲端執行, 加上 Google 廣告
    if 'OPENSHIFT_REPO_DIR' in os.environ.keys() and user != "admin":
        outstring += "<br />"+adsense_content
    # 這裡再加上表單
    outstring += "<br /><br /><a href='/'>Go to main page</a> (<a href='?desc=1'>最新在前</a>) (<a href='?flat=1'>flat</a> (<a href='?flat=1&desc=1'>flat 最新在前</a>))"
    # 假如 user 非 anonymou 則列出 logout 連結
    if user != "anonymous":
        outstring += " <a href='logout'>Logout</a> "
    if user == "anonymous":
        outstring += " <a href='login'>Login</a> "
    if user == "admin":
        outstring += " <a href='editconfigform'>Config</a> <a href='editadsenseform'>Adsense Config</a>"
%>
${outstring}
## 因為只允許雙層資料緒, 因此即使是 admin 用戶對於子緒資料也不列出回應表單
% if (myfollow == 0 and read_only != "yes") or (myfollow == 0 and user == "admin"):
        <br />
        ##id = ${id} <br />
        ##myfollow 值為: ${myfollow} <br />
        <%include file="taskform.html"/>
% else:
        <br />
        ##id = ${id} <br />
        ##myfollow 值為: ${myfollow} <br />
% endif
        </body>
</html>
